<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenJBOD</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <nav class="menu">
            <ul>
                <p class="menu-heading">OpenJBOD</p>
                <li><a href="/">Overview</a></li>
                <li><a href="/about">About</a></li>
                <p class="menu-heading">Settings</p>
                <li><a href="/settings/network">Network</a></li>
                <li><a href="/settings/power">Power</a></li>
                <li><a href="/settings/environment">Environment</a></li>
                <li><a href="/settings/users">Users</a></li>
                <li><a href="/settings/reset">Reset</a></li>
            </ul>
        </nav>
        <main class="content">