<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>OpenJBOD</title>
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <p class="pure-menu-heading">OpenJBOD</p>

            <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/" class="pure-menu-link">Overview</a></li>
              <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
              <p class="pure-menu-heading">Settings</p>
              <li class="pure-menu-item"><a href="/settings/network" class="pure-menu-link">Network</a></li>
              <li class="pure-menu-item"><a href="/settings/power" class="pure-menu-link">Power</a></li>
              <li class="pure-menu-item"><a href="/settings/environment" class="pure-menu-link">Environment</a></li>
              <li class="pure-menu-item"><a href="/settings/users" class="pure-menu-link">Users</a></li>
              <li class="pure-menu-item"><a href="/settings/reset" class="pure-menu-link">Reset</a></li>
          </ul>
        </div>
    </div>

    <div id="main">
      <div class="pure-u-1 content">