{% args resp %}
{% include "header.html" %}
<p class="heading">Overview</p>
<div class="row">
  <div class="grid-3">
    <p class="heading">Power Supply</p>
    <p><b>State:</b> {% if resp['atx_state'] %}On{% else %}Off{% endif %}</p>
    <a href="#"
      onclick="if(confirm('Are you sure you want to toggle the power state?')) { window.location.href='/power_toggle'; }">Toggle
      Power</a>
  </div>
  <div class="grid-3">
    <p class="heading">Environment Info</p>
    <table>
      <tr>
        <th>Fan RPM:</th>
        <td>{{ resp['fan_rpm'] }}</td>
      </tr>
      <tr>
        <th>Fan Speed</th>
        <td>{{ resp['fan_speed_p'] }}%</td>
      </tr>
      <tr>
        <th>Temperature (C)</th>
        <td>{{ resp['temp'] }}</td>
      </tr>
    </table>
  </div>
  <div class="grid-3">
    <p class="heading">Board Info</p>
    <table>
      <tr>
        <th>Board Revision</th>
        <td>{{ resp['board_rev'] }}</td>
      </tr>
      <tr>
        <th>Serial Number</th>
        <td>{{ resp['serial'] }}</td>
      </tr>
      <tr>
        <th>Software Version</th>
        <td>{{ resp['version'] }}</td>
      </tr>
      <tr>
        <th>MAC Address</th>
        <td>{{ resp['mac_addr'] }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="grid-3">
    <p class="heading">Network Info</p>
    <table>
      <tr>
        <th>Hostname</th>
        <td>{{ resp['config']['network']['hostname'] }}</td>
      </tr>
      <tr>
        <th>IP Config Method</th>
        <td>{{ resp['config']['network']['method'] }}</td>
      </tr>
      <tr>
        <th>IP Address</th>
        <td>{{ resp['net_info']['ip_addr'] }}</td>
      </tr>
      <tr>
        <th>Subnet Mask</th>
        <td>{{ resp['net_info']['subnet_mask'] }}</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>{{ resp['net_info']['gateway_ip'] }}</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>{{ resp['net_info']['dns_ip'] }}</td>
      </tr>
    </table>
  </div>
  <div class="grid-3">
    <p class="heading">Power Settings</p>
    <table>
      <tr>
        <th>On Power Restore</th>
        {% if resp['config']['power']['on_power_restore'] == 'hardware_control' %}
        <td>Hardware Control</td>
        {% elif resp['config']['power']['on_power_restore'] == 'last_state' %}
        <td>Last State</td>
        {% elif resp['config']['power']['on_power_restore'] == 'power_on' %}
        <td>Power On</td>
        {% elif resp['config']['power']['on_power_restore'] == 'power_off' %}
        <td>Power Off</td>
        {% endif %}
      </tr>
      <tr>
        <th>On Boot Delay (s)</th>
        <td>{{ resp['config']['power']['on_boot_delay'] }}</td>
      </tr>
      <tr>
        <th>Follow USB</th>
        <td>{{ resp['config']['power']['follow_usb'] }}</td>
      </tr>
      <tr>
        <th>Follow USB Delay (s)</th>
        <td>{{ resp['config']['power']['follow_usb_delay'] }}</td>
      </tr>
      <tr>
        <th>Ignore Power Button</th>
        <td>{{ resp['config']['power']['ignore_power_switch'] }}</td>
      </tr>
    </table>
  </div>
  <div class="grid-3">
    <p class="heading">Notes</p>
    <form action="/note" method="POST">
      <textarea class="grid-1" name="notes" rows="10">{{ resp['config']['notes'] }}</textarea>
      <button type="submit">Save Notes</button>
    </form>
  </div>
</div>
{% include "footer.html" %}