{% args config %}
{% include "header.html" %}
<p class="heading">Settings - Users</p>
<div class="row">
  <div class="grid-2">
    <form action="" method="POST">
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Change Password</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input placeholder="Username" name="user_1_n" value="{{ config['web']['users']['1']['username'] }}"></td>
            <td><input name="user_1_cp" id="user_1_cp" type=checkbox value=True onchange="document.getElementById('user_1_p').disabled = !this.checked"></td>
            <td><input placeholder="Password" name="user_1_p" id="user_1_p" type="password" disabled></td>
          </tr>
          <tr>
            <td><input placeholder="Username" name="user_2_n" value="{{ config['web']['users']['2']['username'] }}"></td>
            <td><input name="user_2_cp" id="user_2_cp" type=checkbox value=True onchange="document.getElementById('user_2_p').disabled = !this.checked"></td>
            <td><input placeholder="Password" name="user_2_p" id="user_2_p" type="password" disabled></td>
          </tr>
          <tr>
            <td><input placeholder="Username" name="user_3_n" value="{{ config['web']['users']['3']['username'] }}"></td>
            <td><input name="user_3_cp" id="user_3_cp" type=checkbox value=True onchange="document.getElementById('user_3_p').disabled = !this.checked"></td>
            <td><input placeholder="Password" name="user_3_p" id="user_3_p" type="password" disabled></td>
          </tr>
          <tr>
            <td><input placeholder="Username" name="user_4_n" value="{{ config['web']['users']['4']['username'] }}"></td>
            <td><input name="user_4_cp" id="user_4_cp" type=checkbox value=True onchange="document.getElementById('user_4_p').disabled = !this.checked"></td>
            <td><input placeholder="Password" name="user_4_p" id="user_4_p" type="password" disabled></td>
          </tr>
          <tr>
            <td><input placeholder="Username" name="user_5_n" value="{{ config['web']['users']['5']['username'] }}"></td>
            <td><input name="user_5_cp" id="user_5_cp" type=checkbox value=True onchange="document.getElementById('user_5_p').disabled = !this.checked"></td>
            <td><input placeholder="Password" name="user_5_p" id="user_5_p" type="password" disabled></td>
          </tr>
        </tbody>
      </table>
      <hr />
      <button type="submit">Save</button>
    </form>
  </div>
  <div class="grid-3">
    <fieldset>
      <p><b>User Table</b> - Here you can change usernames and passwords. Passwords can only be changed with the 'Change Password' item checked. New users are created by setting a username and a password. Users may be deleted by clearing the username field. If you change the username of the user you are currently on, you will be forced to sign in again.</p>
    </fieldset>
  </div>
</div>
{% include "footer.html" %}