{% args config %}
{% include "header.html" %}
<div class="row">
  <div class="grid-2">
    <p class="heading">Settings - Network</p>
    <form action="" method="POST">
      <div class="row">
        <div class="grid-2">
          <b>Hostname</b>
        </div>
        <div class="grid-2">
          <input type="text" name="hostname" placeholder="Hostname" value="{{ config['network']['hostname'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-3">
          <b>IP Configuration</b>
        </div>
        <div class="grid-3">
          <label for="ip_dhcp">
            <input id="ip_dhcp" type="radio" value="dhcp" name="ip_method" {% if config['network']['method']=='dhcp' %}checked{% endif %} /> DHCP
          </label>
        </div>
        <div class="grid-3">
          <label for="ip_dhcp">
            <input id="ip_static" type="radio" value="static" name="ip_method" {% if config['network']['method']=='static' %}checked{% endif %} /> Static
          </label>
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <b>IP Address</b>
        </div>
        <div class="grid-2">
          <input type="text" name="ip_address" placeholder="IP Address" value="{{ config['network']['ip'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <b>Subnet Mask</b>
        </div>
        <div class="grid-2">
          <input type="text" name="subnet_mask" placeholder="Subnet Mask"
            value="{{ config['network']['subnet_mask'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <b>Gateway</b>
        </div>
        <div class="grid-2">
          <input type="text" name="gateway_ip" placeholder="Gateway" value="{{ config['network']['gateway'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <b>DNS Server</b>
        </div>
        <div class="grid-2">
          <input type="text" name="dns_ip" placeholder="DNS Server" value="{{ config['network']['dns'] }}" />
        </div>
      </div>
      <hr />
      <button type="submit">Save</button>
    </form>
  </div>
  <div class="grid-2">
    <p class="heading">Legend</p>
    <fieldset>
      <p><b>Hostname</b> - This option currently has no effect. <a
          href="https://github.com/OpenJBOD/software/issues/2">Please see this issue</a>.</p>
      <p><b>IP Method</b> - Decides whether to use DHCP or static IP addressing. Addresses input while the controller is
        in DHCP mode will still be saved, but not used.</p>
      <p><b>IP Address</b> - IPv4 Address of the device, only used with the static option above.</p>
      <p><b>Subnet Mask</b> - IPv4 subnet mask of the device, only used with the static option above.</p>
      <p><b>Gateway</b> - IPv4 gateway of the device, only used with the static option above.</p>
      <p><b>DNS</b> - IPv4 DNS IP for the device, only used with the static option above.</p>
    </fieldset>
  </div>
</div>
{% include "footer.html" %}