{% args config %}
{% include "header.html" %}
<div class="row">
  <div class="grid-2">
    <p class="heading">Settings - Environment</p>
    <form action="" method="POST">
      <div class="row">
        <div class="grid-2">
          <b>Use External Probe</b>
        </div>
        <div class="grid-2">
          <input type="checkbox" name="use_ext_probe" {% if config['monitoring']['use_ext_probe'] %}checked{% endif %}
            value=True />
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <b>Use External Fan Controller</b>
        </div>
        <div class="grid-2">
          <input type="checkbox" name="use_ext_fan_ctrl" {% if config['monitoring']['use_ext_fan_ctrl'] %}checked{% endif %} value=True />
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <b>Ignore Fan Failures</b>
        </div>
        <div class="grid-2">
          <input type="checkbox" name="ignore_fan_fail" {% if config['monitoring']['ignore_fan_fail'] %}checked{% endif %} value=True />
        </div>
      </div>
      <div class="row">
        <div class="grid-3">
          <b>Fan Step 1</b>
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Temperature (C)" name="curve_1_c"
            value="{{ config['fan_curve']['1']['temp'] }}" />
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Fan Percent" name="curve_1_p"
            value="{{ config['fan_curve']['1']['fan_p'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-3">
          <b>Fan Step 2</b>
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Temperature (C)" name="curve_2_c"
            value="{{ config['fan_curve']['2']['temp'] }}" />
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Fan Percent" name="curve_2_p"
            value="{{ config['fan_curve']['2']['fan_p'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-3">
          <b>Fan Step 3</b>
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Temperature (C)" name="curve_3_c"
            value="{{ config['fan_curve']['3']['temp'] }}" />
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Fan Percent" name="curve_3_p"
            value="{{ config['fan_curve']['3']['fan_p'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-3">
          <b>Fan Step 4</b>
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Temperature (C)" name="curve_4_c"
            value="{{ config['fan_curve']['4']['temp'] }}" />
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Fan Percent" name="curve_4_p"
            value="{{ config['fan_curve']['4']['fan_p'] }}" />
        </div>
      </div>
      <div class="row">
        <div class="grid-3">
          <b>Fan Step 5</b>
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Temperature (C)" name="curve_5_c"
            value="{{ config['fan_curve']['5']['temp'] }}" />
        </div>
        <div class="grid-3">
          <input type="integer" placeholder="Fan Percent" name="curve_5_p"
            value="{{ config['fan_curve']['5']['fan_p'] }}" />
        </div>
      </div>
      <hr />
      <button type="submit">Save</button>
      <p><b>Note:</b> After saving the settings, the device will need to restart to apply them. The board can be
        restarted on the <a href="/settings/reset">Reset page</a>.</p>
    </form>
  </div>
  <div class="grid-2">
    <p class="heading">Legend</p>
    <fieldset>
      <p><b>Use External Probe</b> - Setting this checkbox will cause the software to use the external probe attached to
        the J9 header.</p>
      <p><b>Ignore Fan Failures</b> - Currently unimplemented, see <a
          href="https://github.com/OpenJBOD/software/issues/3">this issue</a>.</p>
      <p><b>Fan Curve</b> - There are five built-in steps into this software's fan curve. When the temperature reading
        reaches the threshold in one of the steps, the current fan speed will be adjusted to the defined percentage for
        that step.</b></p>
    </fieldset>
  </div>
</div>
{% include "footer.html" %}